// Please do not change the order of the numbered sections!
// The expected order is: 1. Parameters - 2. Profiles - 3. Process -  4. Executor

// There is a high chance it would break the configuration of 'profiles'

// 1. Parameters

// NOTE:
// Initialise the values of the params to the preferred default value or to false
params {
    // input options
    aws_ssm_param_clinical_cb_sql_db_host     = '/pfizer/demo/nextflow/clinical-cb-sql-db-host'
    aws_ssm_param_clinical_cb_sql_db_name     = '/pfizer/demo/nextflow/clinical-cb-sql-db-name'
    aws_ssm_param_clinical_cb_sql_db_port     = '/pfizer/demo/nextflow/clinical-cb-sql-db-port'
    aws_ssm_param_clinical_cb_sql_db_username = '/pfizer/demo/nextflow/clinical-cb-sql-db-username'
    aws_ssm_param_clinical_cb_sql_db_password    = '/pfizer/demo/nextflow/clinical-cb-sql-password'
    outdir                                    = "results"

    db_name                                 = false
    data_source                             = "default"
    phenotypefields                         = false
    participants                            = false
    zpv_list                                = false

    phenotypefields_schema                   = "bin/no_schema/no_schema_phenotypefields.js"
    zpv_schema                               = "bin/no_schema/no_schema_zpv.js"

    zpv_s3_link                             = false
    phenotypefields_s3_link                 = false
    participants_s3_link                    = false

    split_number_of_prefixes                = 3
    split_number_of_lines                   = 1000

    remove_phenolabels                      = true
    append                                  = false
    dry_run                                 = true
    param_via_aws                           = false
    aws_param_name_for_mongo_uri            = false
    clean_database                          = false
    send_signal                             = false
    location                                = false
    apiKey                                  = false
    poolSize                                = 1000

    // when set to true, prints help and exits
    help = false

    // container for all processes, excluding those defined with 'withName' (see example below)
    container = 'quay.io/lifebitai/gel-mongodb-ingestion:latest'

    // process resources defaults
    cpus                                    = 1
    memory                                  = 2.GB
    disk                                    = '30.GB'

    // process specific resource parameters
    high_memory_label_cpus                  = 3
    high_memory_label_memory                = 12.GB

    // execution related defaults
    config                                  = 'conf/standard.config'
    echo                                    = false
    errorStrategy                           = 'terminate'
    maxRetries                              = 8
    maxForks                                = 50
    queueSize                               = 100
    executor                                = false
}

// 2. Profiles

// Do not update the order because the values set in params scope will not be overwritten
// Do not attempt to simplify to
// includeConfig params.config
// outside of profiles scope, it will fail to update the values of the params
profiles {
    standard { includeConfig params.config }
    docker { docker.enabled = true }
    local { includeConfig 'conf/local.config' }
    connection_check { includeConfig 'conf/connection_check.config' }
    no_schema { includeConfig 'conf/no_schema.config' }
    no_schema_zpvs_only { includeConfig 'conf/no_schema_zpvs_only.config' }
    with_schema { includeConfig 'conf/with_schema.config' }
    with_schema_phenotypefields_and_participants { includeConfig 'conf/with_schema_phenotypefields_and_participants.config' }
    gel_int_env { includeConfig 'conf/gel_int_env.config' }
    gel_prod_env { includeConfig 'conf/gel_prod_env.config' }
    gel_stg_env { includeConfig 'conf/gel_stg_env.config' }
}

// 3. Process

// Do not change order of block, must follow after profiles scope (last section that updates params)
process {
    echo                                    = params.echo
    cpus                                    = params.cpus
    memory                                  = params.memory
    maxRetries                              = params.maxRetries
    maxForks                                = params.maxForks
    container                               = params.container
    errorStrategy                           = params.errorStrategy

    withLabel: high_memory {
        cpus   = { params.high_memory_label_cpus * task.attempt }
        memory = { params.high_memory_label_memory * task.attempt }
    }
}

// 4. Executor

executor {
    name                                    = params.executor
    queueSize                               = params.queueSize
}

