/*
 * ---------------------------------------------------------------------
 *  lifebit-ai/gel-mongodb-ingestion connection_check config file
 * ---------------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile connection_check
 */

docker.enabled                              = true

params  {
    param_via_aws                           = false

    phenotypefields                         = "testdata/phenotypefields_files_list_no_s3.csv"
    participants                            = "testdata/participants_files_list_no_s3.csv"
    zpv_list                                = "testdata/zpv_files_list_no_s3.csv"

    phenotypefields_s3_link                 = "testdata/phenotypefields/"
    participants_s3_link                    = "testdata/participants/"
    zpv_s3_link                             = "testdata/zpv_files/"

    phenotypefields_schema                   = "bin/no_schema/no_schema_phenotypefields.js"
    zpv_schema                               = "bin/no_schema/no_schema_zpv.js"

    dry_run                                 = true

    // Limit resources so that this can run on GitHub Actions
    max_cpus                                = 2
    high_memory_label_cpus                  = 2
    high_memory_label_memory                = 6.GB
}