/*
 * ---------------------------------------------------------------------
 *  lifebit-ai/gel-mongodb-ingestion gel_stg_env config file
 * ---------------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile gel_stg_env
 */

docker.enabled                          = true

params  {
    db_name                             = "cohort-browser-stg"
    aws_param_name_for_mongo_uri        = "/stg/nextflow/MONGO_URI"
    param_via_aws                       = true
}